<% provide(:title, @user.first_name + " " + @user.name) %>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard von <%=@user.first_name + " " + @user.name%></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Gesamt Anzahl Fahrten: <%= @user.distances.count %></li>
          <li class="list-group-item">Zurückgelegte Kilometer nach Luftlinie: <%= @distances.sum(:range).round %> km</li>
          <li class="list-group-item">Zurückgelegte Kilometer: <%= @distances.sum(:gmaprange).round %> km</li>
        </ul>
      </div>
    </div>
<div class="container-fluid">
  <div class="row">
    <% if current_user.distances.any? %>
      <%= high_chart("some_id5", @chart5) %> 
      <%= high_chart("some_id4", @chart4) %>
      <%= high_chart("some_id", @chart) %>
    <% else  %> <h3> Sie haben noch keine Fahrt gespeichert. Gehen Sie im Menü
      auf Eintrag erfassen um eine neue Fahrt zu speichern. </h3>
    <% end %>
    </div>
  </div>
