<li id="distance-<%= distance.id %>">
  <span class="user"><%= link_to distance.user.name, distance.user %></span>
  <span class="startpunkt"><%= distance.startpunkt %></span>
  <span class="zielpunkt"><%= distance.zielpunkt %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(distance.created_at) %> ago.
  </span>
</li>
