<% provide(:title, "Fahrten") %>
<h1>Alle Fahrten</h1>
<div class="container-fluid">
  <% if current_user.distances.any? %>
  <div class="col-lg-10 col-lg-offset-1">
    <div class="card card-inverse">
      <div class="card-block">
        <h4 class="card-title">Downloard Center<span class="badge badge-info">Neu</span></h4>
        <h6 class="card-subtitle mb-2 text-muted">csv Download</h6>
        <p class="card-text">Alle Fahrten können hier als csv Datei heruntergeladen werden.</p>
         <%= link_to "Download", "/range.csv", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
      <table class=" table table-striped" data-sort-name="ID" data-sort-order="desc">
        <thead>
          <tr>
            <th data-field="Startpunkt" data-sortable="true">Startpunkt</th>
            <th data-field="Zielpunkt" data-sortable="true">Zielpunkt</th>
            <th data-field="Verkehrsmittel" data-sortable="true">Verkehrsmittel</th>
            <th data-field="Datum" data-sortable="true">Datum</th>
            <th data-field="Entfernung Luftlinie" data-sortable="true">Entfernung Luftline</th>
            <th data-field="Entfernung" data-sortable="true">Entfernung</th>
            <th data-field="Entfernung" data-sortable="true">Test</th>
          </tr>
        </thead>

        <tbody>
          <% @distances.each do |distance| %>
            <tr>
              <td><%= distance.startpunkt %></td>
              <td><%= distance.zielpunkt %></td>
              <td><%= distance.verkehrsmittel %></td>
              <td><%= distance.created_at %></td>
              <td><%= distance.range %></td>
              <td><%= distance.gmaprange %></td>
              <td><%= link_to "Eintrag löschen", distance, method: :delete, data: { confirm: "Sind Sie sicher?" }%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% else %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
          <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                Noch keine Fahrten gespeichert.
          </div>
        </div>
      <% end %>
</div>
